.results {
  @include box-with-shadow;
  padding-top: 0.5rem;

  &-tweet {
    padding: 0.5rem 1rem;

    &:nth-child(even) {
      background-color: #f8f9f9;
    }
  }

  &-loading {
    margin: auto;
  }

  &-spinner {
    height: 40px;
    width: 40px;
    border: 16px solid $grey;
    border-top: 16px solid $light-blue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.tweet {
  display: flex;

  h2:before {
    content: "@";
  }

  &-icon {
    align-self: flex-start;
    margin-right: 0.5rem;
    border-radius: 2rem;
  }

  &-hashtag {
    @include blue-pill;
    margin: 0.5rem;
    &:before {
      content: "#";
    }
  }

  &-link,
  &-link:active {
    color: $light-blue;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $light-blue;
      text-decoration: underline;
    }
  }
}

.load-more {
  width: 100%;
  background-color: #fff;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  text-align: center;
  color: $light-blue;
  font-size: 0.85em;
  cursor: pointer;
}
